* { box-sizing: border-box }


body {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;

}

.action {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.last-reading {
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	margin-bottom: 90px;
}

.last-reading p {
	margin: 10px;
}

.last-reading [data-timestamp] {
	font-size:calc(30px + 4vw)
}

.last-reading__level {
	font-size: calc(40px + 13vw);
}

.readings__label {
	margin: 50px 0 20px 0;
	text-align: center;
	letter-spacing: 1px;
	font-size: calc(10px + 2vw);
}

.readings {
	margin-top: 40px;
	overflow: hidden;
}

.readings ul {
	list-style-type: none;
	padding: 0;
}

.readings p {
	margin: 0;
}

.readings li {
	margin-top: 20px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reading__exact-timestamp {
	padding-left: 10px;
	padding-right: 10px;
}

.readings .reading__level {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    padding-right: 20px;
    margin-top: 7px;
    letter-spacing: 1px;
}

.reading__icon {
	margin-right: 20px;
}

.readings .reading__timestamp {
	font-style: italic;
	color: #ccc;
	font-size: 14px;
}




















@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.btn {
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all .5s ease;
  text-align: center;
  max-width: 200px;
}
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #ccc;
  border-color: #000;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
  width: 50%;
}
.btn--radius {
  border-radius: 36px;
}
