<div class="readings">
	<h4 class="readings__label">Past readings</h4>

	<ul class="readings__list">
		{% for reading in allReadings %}
			<li>
				<div class="readings__list__level">
					<span class="readings__list__icon">
						{{reading.icon}}
					</span>

					<span class="readings__list_level-figure">
						{{reading.level}}
					</span>
				</div>

				<p class="readings__list__level-description">
					{{reading.levelDescription}}
				</p>

				<div class="readings__list__meta">
					<span datetime="{{reading.timestamp}}" class="readings__list__friendly-time"></span>

					<span class="readings__list__timestamp">
						{{reading.truncatedTimestamp}}
					</span>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
