<div class="visualisation">
	<svg width="300" height="350"></svg>

	<ul class="visualisation__controls">
		<li>
			<button data-time-key="past-24-hours">
				Past 24 Hours
			</button>
		</li>

		<li>
			<button data-time-key="past-3-days">
				Past 3 Days
			</button>
		</li>

		<li>
			<button data-time-key="past-week">
				Past Week
			</button>
		</li>

		<li>
			<button data-time-key="past-month">
				Past Month
			</button>
		</li>

		<li>
			<button data-time-key="all-time">
				All time
			</button>
		</li>
	</ul>
</div>