.readings {
	margin-top: 40px;
	overflow: hidden;
}

.readings__label {
	margin: 50px 0 20px 0;
	text-align: center;
	letter-spacing: 1px;
	font-size: calc(10px + 2vw);
}

.readings__list {
	list-style-type: none;
	padding: 0;
	max-width: 700px;
	margin: 0 auto;

	li {
		margin-top: 20px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		display: flex;
	}
}

.readings__list__meta {
	display: flex;
	flex-direction: column;
    text-align: right;
}

.readings__list__level {
	display: flex;
	text-align: center;
	flex-direction: column;
}

.readings__list__level-description {
	margin: 25px 40px;
    width: 150px;
}

.readings__list__timestamp {
}

.readings__list_level-figure {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    padding-right: 20px;
    margin-top: 7px;
    letter-spacing: 1px;
}

.readings__list__icon {
	margin-right: 20px;
}

.readings__list__timestamp {
	font-style: italic;
	color: #ccc;
	font-size: 14px;
}

.readings__list__friendly-time {
	margin-bottom: 5px;
}