.last-reading {
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	margin-bottom: 90px;

	p {
		margin: 10px;
	}
}

.last-reading__time {
	font-size: calc(10px + 2vw);
}

.last-reading__level {
	font-size: calc(40px + 13vw);
}

.last-reading__description {
	font-size: calc(20px + 4vw);
}