
.visualisation {
	border: 1px solid black;

	.axis {
		font: 10px sans-serif;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #D4D8DA;
		stroke-width: 2px;
		shape-rendering: crispEdges;
	}

	.line {
		fill: none;
		stroke: #6F257F;
		stroke-width: 5px;
	}

	.overlay {
		fill: none;
		pointer-events: all;
	}

	.focus circle {
		fill: #F1F3F3;
		stroke: #6F257F;
		stroke-width: 5px;
	}

	.hover-line {
		stroke: #6F257F;
		stroke-width: 2px;
		stroke-dasharray: 3,3;
	}
}