
.visualisation {
	.axis {
		font: 10px sans-serif;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #D4D8DA;
		stroke-width: 2px;
		shape-rendering: crispEdges;
	}

	.line {
		fill: none;
		stroke: #6F257F;
		stroke-width: 5px;
	}

	.overlay {
		fill: none;
		pointer-events: all;
	}

	.focus circle {
		fill: #F1F3F3;
		stroke: #6F257F;
		stroke-width: 5px;
	}

	.hover-line {
		stroke: #6F257F;
		stroke-width: 2px;
		stroke-dasharray: 3,3;
	}
}

.visualisation__controls {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.visualisation__controls button {
	// <div class="button -green center">Just like that</div>
	$dark:  #161616;
	$ocean:  #416dea;
	$grass: #3dd28d;
	$snow: #FFFFFF;
	$flower: #353866;
	$coal: #202129;
	$coal-dust: #dedede;

	$font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
	overflow: hidden;

	margin: 10px;
	padding: 12px 12px;

	cursor: pointer;
	user-select: none;
	transition: all 60ms ease-in-out;
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	text-transform: none;
	text-transform: capitalize;

	color: #fff;
	border: 0 none;
	border-radius: 4px;

	font-size: 13px;
	font-weight: 500;
	line-height: 1.3;

	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;

	justify-content: center;
	align-items: center;
	flex: 0 0 160px;

	box-shadow: 2px 5px 10px rgba($dark, .1);

	&:hover {
		transition: all 60ms ease;
		opacity: .85;
	}

	&:active {
		transition: all 60ms ease;
		opacity: .75;
	}

	&:focus {
		outline: 1px dotted #959595;
		outline-offset: -4px;
	}

	&[disabled] {
		color: #202129;
		background-color: #f2f2f2;
		cursor: default;
	}

	color: $snow;
	background: $grass;
}
